<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (orderLine(); as orderLineRef) {
      <div>
        <h2 data-cy="orderLineDetailsHeading"><span jhiTranslate="weebSportApp.orderLine.detail.title">Order Line</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ orderLineRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="weebSportApp.orderLine.quantity">Quantity</span></dt>
          <dd>
            <span>{{ orderLineRef.quantity }}</span>
          </dd>
          <dt><span jhiTranslate="weebSportApp.orderLine.amountline">Amountline</span></dt>
          <dd>
            <span>{{ orderLineRef.amountline }}</span>
          </dd>
          <dt><span jhiTranslate="weebSportApp.orderLine.order">Order</span></dt>
          <dd>
            @if (orderLine()!.order) {
              <div>
                <a [routerLink]="['/order', orderLine()!.order?.id, 'view']">{{ orderLineRef.order?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="weebSportApp.orderLine.stock">Stock</span></dt>
          <dd>
            @if (orderLine()!.stock) {
              <div>
                <a [routerLink]="['/stock', orderLine()!.stock?.id, 'view']">{{ orderLineRef.stock?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/order-line', orderLineRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
