<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-order-heading" data-cy="OrderCreateUpdateHeading" jhiTranslate="weebSportApp.order.home.createOrEditLabel">
        Create or edit a Order
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="weebSportApp.order.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="weebSportApp.order.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'weebSportApp.Status.null' | translate }}</option>
            @for (status of statusValues; track $index) {
              <option [value]="status">{{ 'weebSportApp.Status.' + status | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_date" jhiTranslate="weebSportApp.order.date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_amount" jhiTranslate="weebSportApp.order.amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_meanOfPayment" jhiTranslate="weebSportApp.order.meanOfPayment">Mean Of Payment</label>
          <select
            class="form-control"
            name="meanOfPayment"
            formControlName="meanOfPayment"
            id="field_meanOfPayment"
            data-cy="meanOfPayment"
          >
            <option [ngValue]="null">{{ 'weebSportApp.MeansOfPayment.null' | translate }}</option>
            @for (meansOfPayment of meansOfPaymentValues; track $index) {
              <option [value]="meansOfPayment">{{ 'weebSportApp.MeansOfPayment.' + meansOfPayment | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_client" jhiTranslate="weebSportApp.order.client">Client</label>
          <select
            class="form-control"
            id="field_client"
            data-cy="client"
            name="client"
            formControlName="client"
            [compareWith]="compareSubscribedClients"
          >
            <option [ngValue]="null"></option>
            @for (subscribedClientsOption of subscribedClientsSharedCollection; track $index) {
              <option [ngValue]="subscribedClientsOption">{{ subscribedClientsOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
