div {
  display: flex;
}

#container {
  padding-left: 25%;
  flex-direction: column;
}

.form-container {
  margin-top: 25px;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  gap: 20px;

  .separator {
    align-self: stretch;
    width: 2px;
    background-color: #ccc;
  }

  .hDivider {
    align-self: stretch;
    height: 2px;
    background-color: #ccc;
    margin-bottom: 15px;
  }
}

form {
  flex-direction: column;
  width: 1000px;
  gap: 5px;

  padding: 10px 20px;

  box-shadow: 1px 0 4px 6px rgba(0, 0, 0, 0.1);

  .cb > label {
    margin-left: 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 100%;

    label {
      font-size: 15px;
      margin-bottom: 5px;
    }

    input {
      padding: 5px;
      border-radius: 4px;
      font-size: 13px;
      min-width: 3px !important;

      border: 1px solid;

      &.ng-untouched {
        border-color: #ccc !important;
      }

      &.ng-valid {
        border-color: #ccc;
      }

      &.ng-invalid {
        border-color: red;
      }
    }
  }
}

.return-button {
  position: absolute;
  top: 70px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  color: black;
}

.column-1 {
  flex-direction: column;
  width: 500px;
}

.column-2 {
  flex-direction: column;
  width: 500px;
}

h2 {
  text-align: center;
}

.delivery-inline {
  gap: 5px;

  div {
    flex: 1;
  }
}

.address-inline {
  display: flex;
  gap: 5px;
  width: 150px;

  div {
    flex: 1;
  }
}

.delivery-sb {
  justify-content: space-between;

  p {
    align-content: center;
    margin-bottom: 0;
  }
}

.btn-primary {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #333;
  }
}

.guest-mode {
  margin-top: 20px;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.container {
  display: flex;
}

.return-button {
  position: absolute;
  top: 70px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  color: black;
}
