<div id="container">
  <h1>Paiement</h1>
  <form (ngSubmit)="pay()" [formGroup]="payementForm">
    <div class="form-container">
      <div class="column-1">
        <h2>Livraison</h2>
        <div class="delivery-inline">
          <div class="cb">
            <input id="residence" value="residence" type="radio" name="type" formControlName="type" />
            <label for="residence">Livraison à domicile</label>
          </div>
          <div class="cb">
            <input id="relay" value="relay" type="radio" name="type" formControlName="type" />
            <label for="relay">Livraison en point relai</label>
          </div>
        </div>
        <div class="delivery-inline">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input id="nom" type="text" placeholder="Nom" formControlName="firstName" />
          </div>
          <div class="form-group">
            <label for="prénom">Prénom</label>
            <input id="prénom" type="text" placeholder="Prénom" formControlName="lastName" />
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" placeholder="Email" formControlName="email" />
        </div>
        <div class="address-inline">
          <div class="form-group">
            <label for="country">Pays</label>
            <input id="country" type="text" placeholder="Pays" formControlName="country" />
          </div>
          <div class="form-group">
            <label for="city">Ville</label>
            <input id="city" type="text" placeholder="Ville" formControlName="city" />
          </div>
          <div class="form-group">
            <label for="code-postal">Code Postal</label>
            <input id="code-postal" type="text" placeholder="Code Postal" formControlName="postalCode" />
          </div>
        </div>
        <div class="form-group">
          <label for="adress">Addresse</label>
          <input id="adress" type="text" placeholder="Address" formControlName="address" />
        </div>
        <div class="form-group">
          <label for="phone-number">Numéro de téléphone</label>
          <input id="phone-number" type="text" placeholder="Numéro de téléphone" formControlName="phoneNumber" />
        </div>
      </div>

      <div class="separator"></div>

      <div class="column-2">
        <h3>Paiement express</h3>
        <fa-icon [icon]="faCcApplePay" class="fa-3x" />

        <div class="hDivider"></div>

        <h3>Carte de crédit</h3>

        <div class="form-group">
          <label for="email-login">Nom sur la carte</label>
          <input id="email-login" type="text" placeholder="Firstname Lastname" formControlName="cardName" />
        </div>
        <div class="form-group">
          <label for="password-login">N° de carte</label>
          <input id="password-login" type="text" placeholder="1234 5678 9012 3456" formControlName="cardNum" />
        </div>
        <div class="delivery-inline">
          <div class="form-group">
            <label for="exp">Date d'expiration</label>
            <input id="exp" type="text" placeholder="01/19" formControlName="expirationDate" />
          </div>
          <div class="form-group">
            <label for="crypt">Cryptogramme</label>
            <input id="crypt" type="text" placeholder="000" />
          </div>
        </div>
      </div>
    </div>

    <div class="delivery-sb">
      <p>Total de la commande : {{ price | number: '1.2-2' }}€</p>
      <button class="btn-primary">Payer</button>
    </div>
  </form>
</div>
