/* right-sidebar.component.css */
.right-sidebar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #f0f0f0; /* Change la couleur de fond */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Pour s'assurer que le composant est au-dessus des autres éléments */
}
