<jhi-filters-bar></jhi-filters-bar>
<div class="listing-product">
  <h2>
    <span *ngFor="let clothe of selectedItemsClothes">
      {{ clothe }}
    </span>
    <span *ngFor="let them of selectedItemsThemes">
      {{ them }}
    </span>
  </h2>
  <div class="product-list">
    <div *ngIf="clothes.length > 0; else noClothes">
      <div class="products">
        <div class="product-item" *ngFor="let clothe of clothes" (click)="goToProductDetails(clothe.id)">
          <img src="{{ clothe.imageP }}" alt="{{ clothe.type }} {{ clothe.theme }}" />
          <div class="product-info">
            <div class="product-name">{{ getClotheTypeLabel(clothe.type) }}</div>
            <div class="product-price">{{ clothe.price }}€</div>
          </div>
          <div class="product-them">{{ clothe.theme }}</div>
        </div>
      </div>
    </div>
    <ng-template #noClothes>
      <p>Aucun vêtement trouvé.</p>
    </ng-template>
  </div>

  <jhi-pagination [totalPages]="totalPages" [currentPage]="currentPage" (pageChanged)="onPageChange($event)"> </jhi-pagination>
</div>
