.listing-product {
  padding: 20px;
}
.product-list {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 60vh;
  box-sizing: border-box;
  align-items: center;
}

h2 {
  padding-left: 20px;
  font-size: 24px;
  margin: 0;
}

.products {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}

.product-item {
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  max-height: 180px;
  max-width: 180px;
}

.product-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-item img {
  max-width: 90%;
  border-radius: 8px;
  margin-bottom: 2px;
}

.product-name {
  font-size: 11px;
  font-weight: bold;
}

.product-price {
  font-size: 9px;
  color: #888;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  gap: 5px;
}
