<jhi-filters-bar></jhi-filters-bar>
<div class="listing-product">
  <h2>Brassières</h2>
  <div class="product-list">
    <div *ngIf="clothes.length > 0; else noClothes">
      <div class="grid-container">
        <div class="product-item" *ngFor="let clothe of clothes">
          <img src="{{ clothe.imageP }}" alt="{{ clothe.type }} {{ clothe.theme }}" />
          <div class="product-info">
            <p class="product-name">{{ clothe.type }} {{ clothe.theme }}</p>
            <p class="product-price">{{ clothe.price }}€</p>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noClothes>
      <p>Aucun vêtement trouvé.</p>
    </ng-template>
  </div>
</div>
<jhi-pagination [totalPages]="totalPages" [currentPage]="currentPage" (pageChanged)="onPageChange($event)"> </jhi-pagination>
