<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()">
      <h2 id="jhi-order-line-heading" data-cy="OrderLineCreateUpdateHeading" jhiTranslate="weebSportApp.orderLine.home.createOrEditLabel">
        Create or edit a Order Line
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3">
          <label class="form-label" for="field_quantity" jhiTranslate="weebSportApp.orderLine.quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_amountline" jhiTranslate="weebSportApp.orderLine.amountline">Amountline</label>
          <input
            type="number"
            class="form-control"
            name="amountline"
            id="field_amountline"
            data-cy="amountline"
            formControlName="amountline"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_order" jhiTranslate="weebSportApp.orderLine.order">Order</label>
          <select class="form-control" id="field_order" data-cy="order" name="order" formControlName="order" [compareWith]="compareOrder">
            <option [ngValue]="null"></option>
            @for (orderOption of ordersSharedCollection; track $index) {
              <option [ngValue]="orderOption">{{ orderOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_stock" jhiTranslate="weebSportApp.orderLine.stock">Stock</label>
          <select class="form-control" id="field_stock" data-cy="stock" name="stock" formControlName="stock" [compareWith]="compareStock">
            <option [ngValue]="null"></option>
            @for (stockOption of stocksSharedCollection; track $index) {
              <option [ngValue]="stockOption">{{ stockOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
