<div class="pagination">
  <button class="page-btn" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">&laquo;</button>

  <button class="page-btn" [class.active]="currentPage === 1" (click)="changePage(1)">1</button>

  <span *ngIf="showLeftDots" class="dots">...</span>

  <button *ngFor="let page of middlePages" class="page-btn" [class.active]="page === currentPage" (click)="changePage(page)">
    {{ page }}
  </button>

  <span *ngIf="showRightDots" class="dots">...</span>

  <button *ngIf="this.endPage > 1" class="page-btn" [class.active]="currentPage === this.endPage" (click)="changePage(this.endPage)">
    {{ this.endPage }}
  </button>

  <button class="page-btn" (click)="changePage(currentPage + 1)" [disabled]="currentPage === this.endPage">&raquo;</button>
</div>
