<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-stock-heading" data-cy="StockCreateUpdateHeading" jhiTranslate="weebSportApp.stock.home.createOrEditLabel">
        Create or edit a Stock
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="weebSportApp.stock.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_color" jhiTranslate="weebSportApp.stock.color">Color</label>
          <select class="form-control" name="color" formControlName="color" id="field_color" data-cy="color">
            <option [ngValue]="null">{{ 'weebSportApp.Color.null' | translate }}</option>
            @for (color of colorValues; track $index) {
              <option [value]="color">{{ 'weebSportApp.Color.' + color | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_size" jhiTranslate="weebSportApp.stock.size">Size</label>
          <select class="form-control" name="size" formControlName="size" id="field_size" data-cy="size">
            <option [ngValue]="null">{{ 'weebSportApp.Size.null' | translate }}</option>
            @for (size of sizeValues; track $index) {
              <option [value]="size">{{ 'weebSportApp.Size.' + size | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_quantity" jhiTranslate="weebSportApp.stock.quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_clothe" jhiTranslate="weebSportApp.stock.clothe">Clothe</label>
          <select
            class="form-control"
            id="field_clothe"
            data-cy="clothe"
            name="clothe"
            formControlName="clothe"
            [compareWith]="compareClothe"
          >
            <option [ngValue]="null"></option>
            @for (clotheOption of clothesSharedCollection; track $index) {
              <option [ngValue]="clotheOption">{{ clotheOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
