<div>
  <h2>Panier</h2>
  <div class="product-list">
    <div class="grid-container">
      <div *ngFor="let product of products">
        <div class="product-item">
          <img [src]="product.image" alt="{{ product.name }}" />
          <div class="product-info">
            <div>
              <div class="name">{{ product.name }} {{ product.theme }}</div>
              <div>
                <div>Taille : {{ product.size }}</div>
                <div>Couleur : {{ product.color }}</div>
              </div>
              <div>Prix : {{ product.price }} €</div>
              <div class="quantity-control">
                Quantité : <span>{{ product.quantity }}</span>
                <div class="control">
                  <button (click)="decreaseQuantity(product)">-</button> |
                  <button (click)="increaseQuantity(product)">+</button>
                </div>
              </div>
              <div class="delete-button">
                <button>Supprimer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Résumé de la commande -->
  <div class="order-summary">
    <p>Prix : {{ totalPrice }} € TTC</p>
    <p>Livraison : {{ deliveryPrice }} €</p>
    <p>
      <strong>Total de la commande : {{ totalOrderPrice }} €</strong>
    </p>
  </div>

  <!-- Bouton Submit -->
  <button class="submit-btn" (click)="submitOrder()">Submit</button>
</div>
