<div class="all">
  <div class="filter-container">
    <div class="filter-buttons">
      Filtre
      <button (click)="onFilter('color')">Couleur</button>
      <button (click)="onFilter('size')">Taille</button>
      <button (click)="onFilter('price')">Prix</button>
      <button (click)="onFilter('gender')">Genre</button>
    </div>

    <div class="dropdown">
      <li class="sort">
        <span class="text">Trier par <span class="arrow">&#9660;</span></span>
        <ul class="sous">
          <li (click)="onOptionClick('Prix : Ordre croissant')">Prix : Ordre croissant</li>
          <li (click)="onOptionClick('Prix : Ordre décroissant')">Prix : Ordre décroissant</li>
        </ul>
      </li>
    </div>
  </div>
  <div [ngClass]="{ filter: showColorFilter !== undefined }">
    <jhi-color-item
      [colors]="Object.values(ColorEnum)"
      [multiSelect]="true"
      [selectedColors]="selections['color']"
      *ngIf="showColorFilter === 'color'"
      (selectionChange)="updateSelection('color', $event)"
    ></jhi-color-item>
    <jhi-item
      [items]="Object.values(SizeEnum)"
      [multiSelect]="true"
      [selectedItem]="selections['size']"
      *ngIf="showColorFilter === 'size'"
      (selectionChange)="updateSelection('size', $event)"
    ></jhi-item>
    <jhi-price-filter
      [minValue]="selections['price'].min"
      [maxValue]="selections['price'].max"
      *ngIf="showColorFilter === 'price'"
      (selectionChange)="updateSelection('price', $event)"
    ></jhi-price-filter>
    <jhi-item
      [items]="Object.values(GenderEnum)"
      [multiSelect]="true"
      [selectedItem]="selections['gender']"
      *ngIf="showColorFilter === 'gender'"
      (selectionChange)="updateSelection('gender', $event)"
    ></jhi-item>
  </div>
</div>
