.header {
  display: flex;
  align-items: center;
  padding: 3px 10px 0;
  background-color: var(--gray1);
}

.logo {
  flex: 1;
}

.search-bar {
  flex: 2;
  display: flex;
  justify-content: center;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 60%;
}

.search-container input[type='text'] {
  background-color: var(--gray3);
  color: var(--text-search-color);
  font-size: 0.95rem;
  width: 100%;
  padding: 3px 40px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.search-icon-left {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-icon-right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-icon-left:hover img,
.search-icon-right:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}

.search-icon-left:hover,
.search-icon-right:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.search-icon-left img,
.search-icon-right img {
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  height: 1.1rem;
}

.header-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-buttons a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
}

.header-buttons a img {
  height: 24px;
}

.basket-container {
  position: relative;
  display: inline-block;
}

.basket-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  min-width: 20px;
  height: 20px;
}
