<head class="header">
  <div class="logo">
    <a href="home"><img src="../../../content/images/Logo-WStest.svg" alt="Logo" /></a>
  </div>
  <div class="search-bar">
    <div class="search-container">
      <span class="search-icon-left">
        <img src="../../../content/images/MenuIcon.png" alt="Menu" />
      </span>
      <input type="text" placeholder="Entrez votre recherche ici" />
      <span class="search-icon-right">
        <img src="../../../content/images/SearchIcon.png" alt="Recherche" />
      </span>
    </div>
  </div>
  <div class="header-buttons">
    <a href="basket"><img src="../../../content/images/BasketIcon.png" alt="Panier" /></a>
    <a href="login"><img src="../../../content/images/UserIcon.png" alt="Compte utilisateur" /></a>
    <a href="setting"><img src="../../../content/images/SettingIcon.png" alt="Reglage" /></a>
  </div>
</head>
