<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (order(); as orderRef) {
      <div>
        <h2 data-cy="orderDetailsHeading"><span jhiTranslate="weebSportApp.order.detail.title">Order</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ orderRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="weebSportApp.order.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'weebSportApp.Status.' + (orderRef.status ?? 'null')">{{
              { null: '', BASKET: 'BASKET', PAID: 'PAID' }[orderRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="weebSportApp.order.date">Date</span></dt>
          <dd>
            <span>{{ orderRef.date | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="weebSportApp.order.amount">Amount</span></dt>
          <dd>
            <span>{{ orderRef.amount }}</span>
          </dd>
          <dt><span jhiTranslate="weebSportApp.order.meanOfPayment">Mean Of Payment</span></dt>
          <dd>
            <span [jhiTranslate]="'weebSportApp.MeansOfPayment.' + (orderRef.meanOfPayment ?? 'null')">{{
              { null: '', CB: 'CB', ONLINEPAYMENT: 'ONLINEPAYMENT' }[orderRef.meanOfPayment ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="weebSportApp.order.client">Client</span></dt>
          <dd>
            @if (order()!.client) {
              <div>
                <a [routerLink]="['/subscribed-clients', order()!.client?.id, 'view']">{{ orderRef.client?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/order', orderRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
