<div>
  <h2 id="page-heading" data-cy="OrderLineHeading">
    <span jhiTranslate="weebSportApp.orderLine.home.title">Order Lines</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="weebSportApp.orderLine.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-order-line"
        [routerLink]="['/order-line/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="weebSportApp.orderLine.home.createLabel">Create a new Order Line</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (orderLines?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="weebSportApp.orderLine.home.notFound">No Order Lines found</span>
    </div>
  }

  @if (orderLines && orderLines.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity">
              <div class="d-flex">
                <span jhiTranslate="weebSportApp.orderLine.quantity">Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="amountline">
              <div class="d-flex">
                <span jhiTranslate="weebSportApp.orderLine.amountline">Amountline</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="order.id">
              <div class="d-flex">
                <span jhiTranslate="weebSportApp.orderLine.order">Order</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="stock.id">
              <div class="d-flex">
                <span jhiTranslate="weebSportApp.orderLine.stock">Stock</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (orderLine of orderLines; track trackId(orderLine)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/order-line', orderLine.id, 'view']">{{ orderLine.id }}</a>
              </td>
              <td>{{ orderLine.quantity }}</td>
              <td>{{ orderLine.amountline }}</td>
              <td>
                @if (orderLine) {
                  <div>
                    <a [routerLink]="['/order', orderLine.id, 'view']">{{ orderLine.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (orderLine.stockDTO) {
                  <div>
                    <a [routerLink]="['/stock', orderLine.stockDTO.id, 'view']">{{ orderLine.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/order-line', orderLine.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/order-line', orderLine.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(orderLine)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
