.color-container {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px; /* Espacement plus large entre les éléments */
}

.color-button {
  border: none;
  padding: 8px 16px; /* Amélioration du padding pour une meilleure présentation */
  border-radius: 8px;
  background-color: var(--gray4);
  color: #757575;
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s ease; /* Transition pour une meilleure interaction */
}

.color-button:hover {
  background-color: #dcdcdc; /* Change la couleur de fond au survol */
  transform: scale(1.05); /* Légère animation d'agrandissement au survol */
}

.color-button span {
  margin-left: 8px; /* Espacement entre l'icône et le texte */
  display: none;
}

.color-button.selected {
  background-color: gray;
  color: white;
}

.color-button.selected span {
  display: inline;
}

.color-image {
  width: 24px; /* Taille de l'image ajustée */
  height: 24px;
  object-fit: cover; /* Garantit que l'image couvre bien l'espace sans déformation */
  border-radius: 50%; /* Rend l'image circulaire */
  margin-right: 8px; /* Espacement entre l'image et le texte */
}

.color-button.selected .color-image {
  opacity: 0.8; /* Rend l'image légèrement transparente lorsqu'elle est sélectionnée */
}
