<div class="login-page">
  <a href=""><img class="return-button" src="../../../content/images/ArrowCircleLeft.png" alt="Return" /></a>
  <img class="ws-logo" src="../../../content/images/Logo-WStest.svg" alt="Weeb Spors" />
  <div class="form-container">
    <div class="inscription-section">
      <h2>Inscription</h2>
      <form>
        <div class="inscription-inline">
          <div class="form-group">
            <label for="nom">Nom*</label>
            <input id="nom" type="text" placeholder="Nom" />
          </div>
          <div class="form-group">
            <label for="prénom">Prénom*</label>
            <input id="prénom" type="text" placeholder="Prénom" />
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email*</label>
          <input id="email" type="text" placeholder="Email" />
        </div>
        <div class="form-group">
          <label for="password">Mot de passe*</label>
          <input id="password" type="text" placeholder="Mot de passe" />
        </div>
        <div class="inscription-inline">
          <div class="form-group">
            <label for="pays">Pays*</label>
            <input id="pays" type="text" placeholder="Pays" />
          </div>
          <div class="form-group">
            <label for="ville">Ville*</label>
            <input id="ville" type="text" placeholder="Ville" />
          </div>
          <div class="form-group">
            <label for="code-postal">Code Postal*</label>
            <input id="code-postal" type="text" placeholder="Code Postal" />
          </div>
        </div>
        <div class="form-group">
          <label for="adresse">Adresse*</label>
          <input id="adresse" type="text" placeholder="Adresse" />
        </div>
        <div class="form-group">
          <label for="phone-number">Numéro de téléphone*</label>
          <input id="phone-number" type="text" placeholder="Numéro de téléphone" />
        </div>
        <button type="submit" class="btn-primary">S'inscrire</button>
      </form>
    </div>

    <div class="separator"></div>

    <div class="connexion-section">
      <h2>Connexion</h2>
      <form>
        <div class="form-group">
          <label for="email-login">Email</label>
          <input id="email-login" type="text" placeholder="Email" />
        </div>
        <div class="form-group">
          <label for="password-login">Mot de passe</label>
          <input id="password-login" type="text" placeholder="Mot de passe" />
        </div>
        <div class="forgot-password">
          <a href="#">Mot de passe oublié ?</a>
        </div>
        <button type="submit" class="btn-primary">Se connecter</button>
      </form>
      <div class="guest-mode">
        <a href="#">Rester en mode invité ></a>
      </div>
    </div>
  </div>
</div>
